.jumbotron {

  &.hero-full {
    position: relative;
    height: 60vh;
    background-image: url("../../img/NEW-Meez_3Screen_Tilted_Mock.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 0;

    .logo {
      position: relative;
      max-width: 600px;
      background-color: rgba(200,200,200,0.3);
      border-radius: 10px;
      padding: 10px 25px;
      top: 75%;

      img {

      }
    }
  }
}
